<!DOCTYPE html>
<html>
<head>
  <title>Jester2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <ul class="left">
      <li id="list-header">
        <!-- TODO: Rails this -->
        <a href="/">Jester</a>
      </li>
      <% if current_user %>
      <li id="list-header"> |
        <!-- TODO: Rails this -->
        <a href="/jokes/new">New</a>
      </li>
      <% end %>
    </ul>
    <ul class="right">
      <% if current_user %>
        <li id="list-header">
          <!-- TODO: Rails this -->
          <a href="/users/<%=current_user.id%>"><%=current_user.name%></a>
        </li> |
        <li id="list-header">
          <!-- TODO: Rails this -->
          <a href="/logout">Logout</a>
        </li>
      <% else %>
        <li id="list-header">
          <!-- TODO: Rails this -->
          <a href="/login">Login</a>
        </li> |
        <li id="list-header">
          <!-- TODO: Rails this -->
          <a href="/signup">Sign up</a>
        </li>
      <% end %>
    </ul>
  </header>
  <%= image_tag("laugh.png", id: "haha") %>
<%= yield %>

</body>
</html>
