<!-- TODO: Take our the br later in styling -->
<ol>
  <% @jokes.order(:created_at).reverse.each do |joke| %>
  <li>
    <a href="/jokes/<%= joke.id %>"><%= joke.line1 %></a>
    <br>
    <span class="small">
      <a href="/jokes/<%= joke.id %>"><%=joke.comments.count%> comments</a> and <%= rand(1..10)%> laughes for <a href="/users/<%=joke.user.id%>"><%=joke.user.name%></a> | <a href="/jokes/<%= joke.id %>"><%=time(joke)%> moons ago</a>
      <% if current_user.id == joke.user.id %>
        <a href='/jokes/<%=joke.id%>/edit'>Edit</a> |
        <a href='/jokes/<%=joke.id%>/delete'>Delete</a>
      <% end %>
    </span>
    <br>
  </li>
  <br>
  <% end %>
</ol>