<!-- TODO: Take our the br later in styling -->
<ol>
  <% @jokes.order(:created_at).reverse.each do |joke| %>
  <li>
    <%= link_to "#{joke.line1}", joke_path(joke.id) %>
    <br>
    <span class="small">
      <%= link_to "#{joke.comments.count} comments", joke_path(joke.id)%>
      and <%= rand(1..10)%> laughes for
      <%= link_to "#{joke.user.name}", user_path(joke.user.id)%> |
      <%= link_to "#{time(joke)} ago", joke_path(joke.id)%>
      <% if current_user %>
        <% if current_user.id == joke.user.id %>
          <%= link_to 'Edit', edit_joke_path(joke.id)%> |
          <%= link_to 'Delete', joke_path(joke.id), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      <% end %>
    </span>
    <br>
  </li>
  <br>
  <% end %>
</ol>