<ul>
  <% @user.jokes.order(:created_at).reverse.each do |joke| %>
    <li>
      <a href="/jokes/<%= joke.id %>"><%=joke.line1%></a><br>
      <span class="small"><a href="/jokes/<%= joke.id %>"><%=time(joke)%> days ago</a> | <a href="/joke/<%= joke.id %>"><%=joke.comments.count%> comments</a>
      <% if current_user.id == @user.id %>
        <a href='/jokes/<%=joke.id%>/edit'>Edit</a>
        <a href='/jokes/<%=joke.id%>/delete'>Delete</a>
      <% end %>
      </span><br>
    </li><br>
  <% end %>
</ul>