<div class="container">
  <% if current_user.id == @joke.user.id %>
    <div class="edit">
      <a href='/jokes/<%=@joke.id%>/edit'>Edit</a> |
      <a href='/jokes/<%=@joke.id%>/delete'>Delete</a>
    </div>
  <% end %>
  <h1><%=@joke.line1%></h1>
  <span class="small">
    <a href="/jokes/<%= @joke.id %>"><%=@joke.comments.count%> comments</a> and <%= rand(1..10)%> laughes for <a href="/users/<%=@joke.user.id%>"><%=@joke.user.name%></a> | <a href="/jokes/<%= @joke.id %>"><%=time(@joke)%> moons ago</a>
  </span>
  <p class="hr"><%=@joke.line2%></p>

  <div class="comments">
    <div class="comment_box">
      <%= erb :'comments/new', locals: {joke_id: @joke.id}%>
    </div>

    <div class="comment_list">
      <ul>
        <% @joke.comments.each do |comment| %>
          <li><%= erb :'comments/show', locals: {comment: comment} %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>