<div class="container">
  <% if current_user %>
    <% if current_user.id == @joke.user.id %>
      <div class="edit">
        <%= link_to 'Edit', edit_joke_path(@joke.id), locals: {joke_id: @joke.id} %> |
        <%= link_to 'Delete', joke_path(@joke.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  <% end %>
  <h1><%=@joke.line1%></h1>
  <span class="small">
    <%= link_to "#{@joke.comments.count} comments", joke_path(@joke.id)%>
    and <%= rand(1..10)%> laughes for
    <%= link_to "#{@joke.user.name}", user_path(@joke.user.id)%> | <%= link_to "#{time(@joke)} ago", joke_path(@joke.id)%>
  </span>
  <% if @joke.line2 %>
    <p id="funny2" class="hr">
      <span id="line2"><%=@joke.line2%></span>
    </p>
  <% end %>
  <div class="comments">
    <% if current_user %>
      <div class="comment_box">
        <%= render partial: "comments/new", locals: {joke_id: @joke.id} %>
      </div>
    <% else %>
      <p>Want to comment? <%= link_to "Log in!", login_path %></p>
    <% end %>

    <div id="comment_list">
      <ul>
        <% @joke.comments.each do |comment| %>
          <li>
            <%= render partial: "comments/show", locals: {comment: comment} %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>