<span class="small">
  <a href="/users/<%=comment.user_id%>"><%=comment.user.name%></a>
  <%=time(comment)%> days ago</span><br>
  <div id="message">
    <%= comment.message %><br>
  </div>
  <% if current_user.id == comment.user.id %>
    <span class="small"><a href='/jokes/<%=@joke.id%>/comments/<%=comment.id%>/edit'>Edit</a>
    <%= link_to 'Delete', comment_path(comment.id), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</span>